@charset "utf-8";

* {
  padding: 0;
  margin: 0;
}


body
{background:#E1FBC3;
	
}

.images{
	height: 450px;
	width: 650px;
	padding: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

}

footer {
	height: 40px;
	 
	background:#B2C7A7;
}

p {
	padding: 20px;
}

li{
	padding-left: 20px;
}

ul
{
	padding-left: 40px;
}

h1 {
	padding-left: 20px;
}

h2 {
	padding-left: 20px;
}


ol
{
	padding-left: 40px;
}
